{
    "name": "Phonebook",
    "short_name": "Phonebook",
    "description": "Phonebook",
    "theme": "#ffffff",
    "display": "standalone",
    "scope": "{{{ PUBLIC_ORIGIN }}}/",
    "start_url": "{{{ PUBLIC_ORIGIN }}}/",
    "generateIconOptions": {
        "baseIcon": "./src/img/icon_large.png",
		"genFavicons": true,
        "sizes": [
            72,
            96,
            128,
            144,
            152,
            192,
            384,
            512
        ]
    }
}
